html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* { padding: 5px; }
ngb-progressbar { padding: 0; }
input.ng-invalid.ng-touched {
    border: 2px solid red;
 }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
